<a href="https://colab.research.google.com/github/Siuuu07/Getting-started-with-git/blob/main/IBM_Tools_for_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Notebook Title

In [ ]:
# IBM Tools for Data Science

In [ ]:
# This notebook explores various IBM tools commonly used in Data Science projects.

In [ ]:
# This notebook explores various IBM tools commonly used in Data Science projects.

#1. Python
#2. R
#3. SQL
#4. Java
#5. Julia #

In [ ]:
#This notebook explores various IBM tools commonly used in Data Science projects.

#1. NumPy
#2. Pandas
#3. Matplotlib
#4. Seaborn
#5. Scikit-learn

In [ ]:
#| Tool         | Description                            |
#|--------------|----------------------------------------|
#| Python       | General-purpose programming language   |
#| R            | Statistical computing and graphics     |
#| SQL          | Database management language           |
#| Java         | General-purpose programming language   |
#| Julia        | High-level programming language        |

In [ ]:
# In this section, we will explore examples of arithmetic expressions in various programming languages.

In [ ]:
# Multiply two numbers
num1 = 5
num2 = 3
product = num1 * num2
print("Multiplication Result:", product)

# Add two numbers
num3 = 7
num4 = 2
sum = num3 + num4
print("Addition Result:", sum)

Multiplication Result: 15
Addition Result: 9

In [ ]:
# Define a function to convert minutes to hours
def minutes_to_hours(minutes):
    hours = minutes / 60
    return hours

# Example usage
minutes = 120
hours = minutes_to_hours(minutes)
print(minutes, "minutes is equal to", hours, "hours.")

120 minutes is equal to 2.0 hours.

In [ ]:
#This section covers some common programming languages used in data science projects.

#- Python
#- R
#- SQL
#- Julia

In [ ]:
# Author: Mohamed Riyaz S