<a href="https://colab.research.google.com/github/Siuuu07/Getting-started-with-git/blob/main/Tools%20for%20Data%20Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction**
Welocme to the data science notebook, we will explore various concepts and examples related to the data science in this notebook.

# **Data Science Languages**



*   Python
*   R
*   SQL

# **Data Science Libraries**


*   Pandas
*   Numpy
*   Matplotlib
*   Seaborn
*  Sikit-Learn

# **Data Scinece Tools**

*   Juypter Notebook
*   Rstudio
*   Tableau
*   Tensorflow

# **Arithmetic Expression Examples**

# Let's explore some examples of arithmetic examples in the following cells

In [ ]:
# Multiply two numbers
num1 = 5
num2 = 3
product = num1 * num2
print("Multiplication Result:", product)

# Add two numbers
num3 = 7
num4 = 2
sum = num3 + num4
print("Addition Result:", sum)

Multiplication Result: 15
Addition Result: 9

In [ ]:
# Define a function to convert minutes to hours
def minutes_to_hours(minutes):
    hours = minutes / 60
    return hours

# Example usage
minutes = 120
hours = minutes_to_hours(minutes)
print(minutes, "minutes is equal to", hours, "hours.")

120 minutes is equal to 2.0 hours.

# **Objectives**


*   Explore Data Science languages and libraries
*   Understand basic arithmetic expression
*   Perform simple calculations and conversions

# **Author**

This notebook was created by Mohamed Riyaz S